@use 'variables';

.tableContainer {
    width: 60%;
    border-radius: 2rem;
    border: 0.1rem solid #B5B0AF;
    padding: .5rem;
    margin-top: 2rem;
    text-align: center;
  }
  
  .itemContainer {
    margin: auto;
    display: inline-block;
    border: 0.1rem solid #8FADF9;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: .5rem;
    min-width: 100%;
  }
  
  .logoContainer {
    padding: .6rem;
    margin: auto;
    min-width: none;
    max-width: 20%;
    float: left;
  }
  
  .imgContainer {
    padding: .6rem;
    margin: auto;
    min-width: none;
    max-width: 20%;
    float: left;
  }
  
  .itemDescr {
    padding: .6rem;
    font-size: .7rem;
    margin: auto;
    text-align: left;
    vertical-align: top;
    float: left;
    min-width: none;
    max-width: 30%;
  }
  
  .itemMisc {
    padding: .6rem;
    font-size: .7rem;
    margin: auto;
    vertical-align: bottom;
    float: left;
    min-width: none;
    max-width: 30%;
  }
  
  .divider {
    width: .3rem;
    height: auto;
    display: inline-block;
  }
  
  .delete {
    border: .1rem solid #f44336;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    transition-duration: 0.4s;
  }
  
  .moveTo {
    background-color: white;
    border: .1rem solid #8FADF9;
    font-family: 'Courier New', Courier, monospace;
    transition-duration: 0.4s;
  }
  
  .delete:hover {
    background-color: #f44336;
    color: white;
  }
  
  .moveTo:hover {
    background-color: #8FADF9;
    color: white;
  }